{
  "repositoryDir": "__INSTALL_DIR__/repositories",
  "DbFile": "__INSTALL_DIR__/data/git-nostr-db.sqlite",
  "relays": [__NOSTR_RELAYS_JSON_ARRAY__],
  "gitRepoOwners": [__GIT_REPO_OWNERS_JSON_ARRAY__]
}
